.header {
  display: flex;
  align-items: center;
  background: var(--primary);
  padding: 20px;
  text-align: center;
  width: 100%;
  border-bottom: 10px var(--secondary) solid;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: "url('/hamburger.svg')";
}

img {
  max-height: 90px;
  cursor: pointer;
}

#zagreb {
  display: none;
}

h1 {
  font-size: 25px;
  color: var(--foreground);
  font-weight: bold;
  text-align: center;
}

#profile {
  height: 50px;
  display: block;
}

@media (min-width: 768px) {
  #zagreb {
    display: flex;
    margin-left: 10px;
  }

  h1 {
    font-size: 35px;
    text-align: start;
    margin-left: 80px;
  }
}
