.header {
  display: flex;
  align-items: center;
  background: var(--primary);
  padding: 20px;
  text-align: center;
  width: 100%;
  border-bottom: 5px var(--secondary) solid;
  position: fixed;
  top: 0;
  height: 13vh;
  z-index: 1000;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

img {
  max-height: 60px;
  cursor: pointer;
}

#zagreb {
  display: none;
}

h1 {
  font-size: 25px;
  color: var(--foreground);
  font-weight: bold;
  text-align: center;
}

#profile {
  height: 50px;
  display: block;
}

@media (min-width: 768px) {
  #zagreb {
    display: flex;
    margin-left: 10px;
  }

  h1 {
    font-size: 35px;
    text-align: start;
    margin-left: 80px;
  }
}
