.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background: var(--primaryDark);
  padding: 20px;
  transition: width 300ms ease-in-out;
  overflow: hidden;
  position: fixed;
  top: 0;
  margin-top: 13vh;
  height: 87dvh;
  z-index: 500;
  box-sizing: border-box;
  overflow-y: scroll;
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar.w-0 {
  width: 0;
  padding: 0;
}

.title {
  font-size: 1.3rem;
  color: var(--foreground);
  text-align: center;
  font-weight: bold;
  padding: 10px 0 0 0;
}
