.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--primaryDark);
  margin: 5px 0 5px 0;
  justify-content: space-between;

  img {
    width: 10%;
  }
}

.sidebar-item:hover {
  background-color: var(--primary);
}
